.App {
  text-align: center;
}
.table-data{
  margin-top: 30px;
  margin-left: 250px;
}

#usertable th, #usertable td{
/* padding: 45px; */
padding-top: 5px;
padding-bottom: 5px;
padding-right: 70px;
padding-left: 10px;
}

.loginform{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px black solid;
  width: 400px;
  margin-left: 500px;
}