.App {
  text-align: center;
}

#tabledata{
  margin-top:30px;
  /* border:1px solid lightblue; */
}

#tabledata td, #tabledata th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

#tabledata th {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.loginform{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px black solid;
  width: 400px;
  margin-left: 500px;
}